<div class='container is-max-desktop mt-5'>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/" class="has-text-grey-dark">Home</a></li>
      <li><a href="/dashboard" class="has-text-grey-dark">Dashboard</a></li>
      <li class="is-active"><a href="" class="has-text-grey" aria-current="page"></li>Edit: {{post.title}}</a></li>
    </ul>
  </nav>
  <div class='card'>
    <header class='card-header has-background-light'>
      <p class='card-header-title'>
        Edit Post
      </p>
    </header>
    <div class='card-content'>
      <div class='content'>
        <form id='updatePostForm'>
          <div class='field mt-5'>
            <label class='label'>Post Title</label>
            <div class='control'>
              <input class='input is-primary' type='text' placeholder='Post Title' id='postTitle' value='{{post.title}}' />
            </div>
          </div>

          <div class='field'>
            <label class='label'>Post Content</label>
            <div class='control'>
              <textarea class='textarea is-primary' id='postContent'>{{post.post_content}}</textarea>
            </div>
          </div>

          <div class='field is-grouped'>
            <div class='control'>
              <button class='button is-link' type='submit' data-id='{{post.id}}' id='updateBtn'>Update</button>
            </div>
            <div class='control'>
              <button class='button is-warning' data-id='{{post.id}}' id='deleteBtn'>Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{! Import Form Handler }}
<script src='/js/editPost.js'></script>