<div class='container is-max-desktop mt-5'>
  <h2><strong>ALL POSTS</strong></h2>

  {{!-- {{#each posts as |post|}}
<div class='container is-max-desktop mt-5'>
  <div class="columns is-gapless is-multiline">
  <div class="column is-one-half has-background-light"><strong><a class="has-text-black" href='/post/{{post.id}}'>{{post.title}}</a></strong></div>
  <div class="column is-one-half has-background-light">Created By {{post.user.name}} on {{format_date post.date_created}}</div>
  <div class="column is-full mt-1">{{post.post_content}}</div>
</div>
{{/each}} --}}
  {{#each posts as |post|}}
    <div class='card mt-5'>
      <header class='card-header'>
        <p class='card-header-title'><a class='has-text-black' href='/post/{{post.id}}'>{{post.title}}</a></p>
      </header>
      <div class='card-content'>
        <div class='content'>
          {{post.post_content}}
        </div>
      </div>
    </div>
  {{/each}}
</div>