{{#each posts as |post|}}
<div class='container is-max-desktop mt-5'>
  <div class="columns is-gapless is-multiline">
  <div class="column is-one-half has-background-light"><strong><a class="has-text-black" href='/post/{{post.id}}'>{{post.title}}</a></strong></div>
  <div class="column is-one-half has-background-light">Created By {{post.user.name}} on {{format_date post.date_created}}</div>
  <div class="column is-full mt-1">{{post.post_content}}</div>
</div>
{{/each}}