<div class="row mb-4 project">
    <div class="col-md-5">
        <h2>
            <a href="/post/{{id}}">{{title}}</a>
        </h2>
        {{!-- format_date --}}
        <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    </div>
    <div class="col-md-7">
        <p>
            {{content}}
        </p>
    </div>
</div>

</div>